.content-style{
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-style{
    text-align: center;
}

.btn-close{
    position: absolute;
    right: -4px;
    top: -4px;
}