@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #bcd7ee,
  500: #4273d9,
  700: #2a4cbb,
  contrast: (
    100: #090909,
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #fff2ab,
  500: #ffd940,
  700: #ffc400,
  contrast: (
    100: #090909,
    500: #090909,
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}
    